<!--
  Exercise Start point for:
  http://forwardadvance.com/angular-live/templates
-->

<!DOCTYPE html>
<html>
  <head>
    <title>Templates</title>
    <script src="angular.js"></script>
  </head>
  <body ng-app>
    <input ng-model="num1" placeholder='Enter an evil number' />
    <input ng-model="num2" placeholder='And another' />
    <ul>
      <li>
        {{num1}} + {{num2}} = {{num1 + num2}}
      </li>
      <li>
        {{num1}} - {{num2}} = {{num1 - num2}}
      </li>
      <li>
        {{num1}} * {{num2}} = {{num1 * num2}}
      </li>
      <li>
        {{num1}} / {{num2}} = {{num1 / num2}}
      </li>
    </ul>
  </body>
</html>
